<%= week_calendar(events: @requests, attribute: :due_date, number_of_weeks: 1 )  do |date, requests| %>
  <%= date.day %>
  <% requests.each do |request|%>
    <div>
        <%if !request.completed?%>
          <%= link_to request.title, request %>
        <%else%>
          <strike style="opacity: 0.4;"><%= link_to request.title, request %></strike>
        <%end%>
    </div>
  <% end %>
<% end %>

<div class="links"> |
    <%= link_to 'Back', requests_path %>
  
</div>